
body {
    margin: 10px 50px 0 50px;

}

header {
    background-color: aqua;
    width: 100%;
    height: 150px;
}

nav {
    background-color: blueviolet;
    width: 100%;
    height: 80px;
}

li {
    display: inline;
    margin: 0px 10px 0 10px;
}

article {
    background-color: royalblue;
    width: 50%;
    height: 100px;
    float: left;
}

aside {
    background-color: coral;
    width: 50%;
    height: 100px;
    float: right;
}

footer {
    background-color: forestgreen;
    height: 50px;
    clear: left;
}

.klik a:hover {
    font-size: 30px;
}

.klik a:visited {
    color: violet;
}